<%= form_for(@fellowship) do |f| %>
  <% if @fellowship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fellowship.errors.count, "error") %> prohibited this fellowship from being saved:</h2>

      <ul>
      <% @fellowship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
