@import "bootstrap-sprockets";

@import url(http://fonts.googleapis.com/css?family=Roboto:100);

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

$brand_red: #CE0A13;
$brand_green: #00CD82;
$brand_color: #1abc9c;


h2{
	font-family: "Roboto";
}

.artifacts-wrapper{
	
	overflow: scroll;
	height: 500px;
	width:100%;
}

@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 45%;
        display: block;
        width: 160px;
        text-align: center;
        //background-color: #eee;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}

.navbar{
	//margin-top:-50px;
}


#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1000;
    
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 255);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
    border-radius: 25px;
	background-color: $brand_color;
	border-color: rgba(0,0,0,0);
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}

.navbar-brand-centered{
	list-style-type: none;
}

.btn.btn-primary, .btn.btn-info, .btn.btn-default, .btn.btn-danger {
	border-radius: 25px;
}

.fa-red{
	color:$brand_color;
}

// GBTT
@media (max-width: 900px) {

    .navbar-brand{
        width: 50%;
    }
}


.alert-success{
    background-color: $brand_color !important; 
}


.red-bar{
    background-color: $brand_color;
    position:fixed;
    top:0;
    height:20px;
    width:100%;
    z-index:1000;
}

.red-bar-2{
    background-color: $brand_color;
    position:fixed;
    top:0;
    height:7px;
    width:100%;
    z-index:1000;
}

.platform-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
}
.platform-footer p:last-child {
  margin-bottom: 0;
}

// Remove button outline on click
button:focus, .btn:focus {
    outline:none !important;
}

.navbar.navbar-inverse {
    background-color: rgba(255,255,255,0.85);
    border: none;

}

.navbar.navbar-inverse .navbar-nav > li > a:hover,
.navbar.navbar-inverse .navbar-nav > li > a:focus {
    color: $brand_color;
}

.navbar.navbar-inverse .navbar-nav > li > a {
    color: $brand_color;
}

.navbar.navbar-inverse .navbar-nav > li{
    margin-top: 5px;
}

em {
  background: yellow;
}

$brand-primary:         $brand_color;
@import "bootswatch/paper/variables";

@import "bootstrap";

//body { padding-top: -60px; }

@import "bootswatch/paper/bootswatch";

@import "info";

@import "artifacts";

@import "profiles";

@import "font-awesome";
